/* this is a css comment */
:root {
    --gray:#2d4d85;
    --light:#87b3ff;
    --dark:#000b3d;
}

/* general */
* {
    margin: 0;
    padding: 0;
}

h1{
    color: var(--light);
    background-color:var(--dark);
    font-weight: bolder;
}

.paragraph {
    background-color: aquamarine; 
    padding: 1em;
}
a{
    color: rgb(127, 9, 9);
}

h2{
    padding: 1em;
    color:white ;
    background-color:var(--gray);
}

/* nav bar */
.navBar {
    background-color: rgb(47, 100, 144);
}
.navBar .container {
    display: flex;
    align-items: center;
}
.navBar ul {
    list-style: none;
    display: flex;
}
.navBar a {
    color: var(--dark);
    padding: 1em;
    background-color:var(--light);
    margin: 1em;
    border-radius: 15%;
}



.contactSheet {
    color: blueviolet;
}

.news{
    padding: 1em;
}
.news p{
    padding: 1em;
    background-color:var(--gray);
}

.container {
    max-width: 1280px;
    margin: auto;
}

.intro {
background-color: purple;
}
.intro h1 {
    font-size: 100px;
}